
/*================================
           navigation
================================*/
header a{
    border-radius: 0.3em;
}
header {
    width: 100%;
    min-height: 100px;
    background:url(../img/stripes.png);
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100001;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}
@media (max-width: 1000px) {
    header {
        position: relative;
    }
}
.container {
    margin: 0 auto;
    max-width: 1050px;
    padding: 0 20px;
    clear: both;
    position: relative;
}
@media (max-width: 1000px) {
    .container {
        padding: 100px 0 0;
    }
}
nav {
    display: block;
    position: relative;
}
@media (max-width: 1000px) {
    nav {
        display: none;
        left: 0;
    }
}
nav ul {
    list-style: none;
    text-align: center;
}
@media (max-width: 1000px) {
    nav ul {
        background:url(../img/stripes.png);
    }
}
nav ul li {
    display: inline-block;
    margin: 40px 30px;
}
@media (max-width: 1000px) {
    nav ul li {
        width: 100%;
        border-top: 1px solid black;
        margin: 0 !important;
        /* Sorry */
    }
}
nav ul li a {
    text-transform: uppercase;
    font-size: 14px;
    color: #FCFCFC;
    letter-spacing: 1px;
    transition: all .3s;
    
}
@media (max-width: 1000px) {
    nav ul li a {
        padding: 1em 0;
        display: block;
    }
    nav ul li a:hover {
        background-color: yellow;
    }
}
nav ul li a:hover {
    color: #000;
    transition: all .3s;
}
nav ul li:nth-child(3) {
    margin-right: 160px;
}
@media (max-width: 1000px) {
    nav ul li:nth-child(3) {
        margin-right: 180px;
    }
}


.social i{
    font-size: 2rem;
    color: red;
    text-outline:12px 12px #FCFCFC ;
}

.social i:hover{
    color: #FCFCFC;
}

.social {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    margin: 40px 0;
}
@media (max-width: 1000px) {
    .social {
        left: 20px;
    }
}
.social li {
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.logo {
    position: absolute;
    top: 15px;
    left: 50%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    margin-left: -35px;
    background-color: black;
    color: #FCFCFC;
    font-size: 2em;
}
.logo:hover {
    color: red;
}
.sign {
    padding: 0.8em 1.2em;
    position: absolute;
    top: 25px;
    right: 0;
    background-color: black;
    color: gold;
    box-shadow: inset 0px -3px 0px yellow;
    transition: all 0.3s;
}
@media (max-width: 1000px) {
    .sign {
        display: none;
    }
}
.sign:hover {
    background-color: black;
    transition: all .3s;
    color: yellow;
}
.mobile {
    display: none;
    position: absolute;
    right: 5%;
    top: 0;
    width: 40px;
    margin: 36px 0;
    cursor: pointer;
}
@media (max-width: 1000px) {
    .mobile {
        display: block;
    }
}
.mobile span {
    height: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    display: block;
    background-color: black;
    margin: 3px 0;
}
.mobile-sign {
    display: none;
    position: relative;
    padding: 0.8em 1.2em;
    background-color: black;
    color: gold;
    box-shadow: inset 0px -3px 0px gold;
    transition: all 0.3s;
    text-align: center;
}
.mobile-sign:hover {
    background-color: black;
    color: yellow;
}
@media (max-width: 1000px) {
    .mobile-sign {
        display: block;
    }
}
@media all and (max-width: 1150px) {
    nav ul li {
        margin: 40px 10px;
    }
    .social {
        left: 5%;
    }
    .sign {
        right: 20px;
    }
}


/*================================
          intro section
================================*/

.first{
    background:url(../img/stripes.png) repeat 0 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    width: 100%;
    margin: 0;
    padding: 2.07143em 0 3.57143em;
    font-size: 0.93333em;
    text-align: center;
    text-transform: uppercase;
}

.intro{
    
    background-size: contain;
    background-attachment: fixed;
    background:url(../img/school.jpg) no-repeat;

}

/*@media and screen(max-width: 414px){
    .intro{
        background: rgba(0,0,0,9);
    }

    
}*/

.date{
    color: #FCFCFC;
    text-align: center;
    background: #E2E1E3;
    margin-top: 77%;
}

.date h1{
    color: #A1223C;
    border-bottom: 2px solid #E2E2E1;
}

.date h2, p{
    color: #454645;
}

.down{
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 100;
    display: block;
    z-index: 1000;
    width: 100%;
    margin: 0;
    padding: 2.07143em 0 3.57143em;
    font-size: 0.93333em;
    text-align: center;
    text-transform: uppercase;
    background:url(../img/stripes.png) repeat 0 0;
    color: #fff;
}

#part1{
    background: #fff;
}

.news{
    float: left;
}

#news{
    
    width: 100%;
    text-align: center;
    background: #A1223C;
    padding: 2%;

   
}


/*================================
          buttons section
================================*/
.but1{
 background: #E2E1E3;   
padding: 2%;
width: 200px;
color: black;
}

.but2{

background:#E2E1E3;
padding: 2%;
width: 200px;
color: black;
}

.but3{
padding: 2%;
background: #E2E1E3;
color: black;
box-shadow: #E2E1E3;

}
.but2:hover{
    background: #A1223C;
    color: white;
} 
.but1:hover{
    background: #A1223C;
    color: white;
} 

.but3:hover{
    background: #A1223C;
    color: white;
} 

/*================================
          buttons end
================================*/
